<div class="mdl-headline">
  <div class="mdl-headline__pitch">
    <div class="mdl-headline__pitch-top"></div>
    <!-- <div class="mdl-headline__pitch-left"></div> -->
    <div class="mdl-headline__pitch-center"></div>
    <!-- <div class="mdl-headline__pitch-right"></div> -->
  </div>
  <div class="mdl-headline__content">
    <!-- <img class="mdl-headline__logo" src="logo.svg"> -->
    <h1 class="mdl-headline__title"><span>&lt;</span>Copa<b>Dev</b><span style="margin-right: -26px;">/</span><span>&gt;</span></h1>
  </div>
  <button class="mdl-headline__button mdl-button mdl-js-button mdl-button--fab">
    <i class="material-icons">keyboard_arrow_down</i>
  </button>
</div>
