<header class="headline anim">
  <div class="headline-content">
    <h1 class="headline-content__title"><span>&lt;</span>Copa<b>Dev</b><span style="margin-right: -26px;">/</span><span>&gt;</span></h1>
    <h4 class="headline-content__date">$Fecha: 21 de julio al 18 de agosto de 2016.</h4>
    <h4 class="headline-content__location">$Lugar: Compensar Av 68, Precio: $121.000 por equipo. <span class="blink">&nbsp;</span></h4>
  </div>
  <button class="headline-button mdl-button mdl-js-button mdl-button--fab">
    <i class="material-icons">keyboard_arrow_down</i>
  </button>
</header>
