<div class="mdl-headline">
  <div class="mdl-headline__pitch">
    <div class="mdl-headline__pitch-top"></div>
    <!-- <div class="mdl-headline__pitch-left"></div> -->
    <div class="mdl-headline__pitch-center"></div>
    <!-- <div class="mdl-headline__pitch-right"></div> -->
  </div>
  <div class="mdl-headline__content">
    <!-- <img class="mdl-headline__logo" src="logo.svg"> -->
    <h1 class="mdl-headline__title"><span>&lt;</span>Copa<b>Dev</b><span style="margin-right: -26px;">/</span><span>&gt;</span></h1>
   	<h4 class="mdl-typography--text-center" style="color: white;">Del 21 de julio al 18 de agosto de 2016</h4>
   	<h4 class="mdl-typography--text-center" style="color: white;">Lugar: Compensar Av 68, Precio: $125.000 por equipo</h4>
  </div>
  <button class="mdl-headline__button mdl-button mdl-js-button mdl-button--fab">
    <i class="material-icons">keyboard_arrow_down</i>
  </button>
</div>
